.sign-in-container {
    height: 82vh;
    width: 100vw;
}

.sign-in-form {
    height: 52vh;
    width: 36vw;
    background-color: gray;
    opacity: .9;
    margin-top: 10vh;
    margin-left: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
}

.email-input-box {
    width: 20vw;
    margin-left: 8vw;
}

.password-input-box {
    width: 20vw;
    margin-left: 8vw;
}

