.information-sub-container-one {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    background-color: pink;
}

.information-sub-container-two {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: purple;
}

.about-rory-healy-tournament {
    margin-left: 10vw;
    height: 50vh;
    width: 45vw;
    margin-top: 17vh;
    background-color: #a3a0a0;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
}

.rory {
    height: 70vh;
    width: 30vw;
    padding-left: 3vw;
    margin-top: 7vh;
}

.information-sub-container {
    display: flex;
    flex-direction: row;
    background-color: orange;
}

.rory-healy-tournament-info {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
}

.about-rory-healy-tournament-content {
    display: flex;
    flex-direction: column;
    
}

.rory-image-navigation {
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.rory-images {
    height: 100vw;
    width: 70vw;

}

.pricing-and-location {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
}