.home-container {
    height: 93vh;
    width: 100vw;
    margin-top: 0;
    padding-top: 0vh;
    background-image: url('/assets/golfcourse.jpg');
}

.home-parallax {
    height: 93vh;
    width: 100vw;
}

.home-jumbotron-rory-tournament {
    height: 65vh;
    width: 50vw;
    padding-top: 10vh;
    margin-left: 45vw;
    background: #708090;
    opacity: .9;
}

.home-dinner-heading {
    padding-top: 0vh;
}

.home-golf-heading {
    padding-top: 0vh;
}

.rory-healy-jumbotron-buttons {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
}

.home-spacer {
    width: 1vw;
}