.vertical-spacer1 {
    height: 91vh;
    width: 10vw;
}

.vertical-spacer2 {
    height: 91vh;
    width: 5vw;
}

.main-container {
    height: 273vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.sub-container {
    height: 91vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.aws-btn {
    --button-primary-color: #F81D1D;
    --button-primary-color-dark: #D81A1A;
    --button-primary-color-hover: #A01313;
    --button-primary-color-active: #C91818;
}


//#474747 -- outer space - gray color
//#1C1C1C -- eerie black - black color