.jumbo {
    height: 70vh;
    width: 30vw;
    margin-left: 35vw;
}

.contact-main-container {
    height: 182vh;
    width: 100vw;
    padding-top: 26vh;
    display: flex;
    flex-direction: column;
}

.contact-sub-container {
    height: 91vh;
}