.about-page-sub-container {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.GHS79-information {
    height: 60vh;
    width: 55vw;
    display: flex;
}

.GHS79-images {
    height: 60vh;
    width: 45vw;
    display: flex;
}
