.about-page-sub-container-one {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-image: url('/assets/GHS79.jpg');
}

.GHS79-information {
    height: 60vh;
    width: 55vw;
    display: flex;
}

.GHS79-images {
    height: 60vh;
    width: 45vw;
    display: flex;
}
